@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    font-family: "Yu Gothic medium", "遊ゴシック Medium", "YuGothic", "YugothicM", "遊ゴシック体", "Hiragino kaku Gothic PnoN", sans-serif;
    line-height: 1.65;
    color: #000;
    font-size: 1rem;
    background:linear-gradient(90deg, #fff 80%,#a9b388);
}
/*header*/
header {
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom: 5px solid #606c38;
    
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 70px;
}
nav ul li a{
    text-decoration: none;
    padding-left: 40px;
    color: #000;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
    /*main*/
main {
    margin-top: 0;
    border-bottom: 5px solid #606c38;
    
}
h2 {
    border-left: #606c38 8px solid;
    padding-left: 10px;
}
h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
}
h3 {
    font-size: 1.25rem;
}
/*mainpage*/
#mainpage {
    border-bottom: 5px solid #606c38;
    background-color: #fff;
}
#mainpage .bgimage{
    padding-left: 5%;
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    align-items: center;
}
#mainpage .haha {
    width: min(30vw,300px);
}
#mainpage h1{
    font-family: "Caveat", cursive;
    font-size: 5rem;
    font-weight: normal;
    color: #c4661f;
    line-height: 0.8;
    font-style: italic;
}

#mainpage h1:last-child {
    font-size: 6rem;
}
/*aboutme*/
#aboutme {
    border-bottom: 5px solid #606c38;
    padding: 4%;
}
#aboutme img {
    width: max(35vw,300px);
    margin-right: 3%;
}
#aboutme .tatewari {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
#aboutme .greenbox {
    background-color: #a9b388;
    box-shadow: 10px 10px;
    padding: 3%;
    width: min(40vw,400px);

}
#aboutme .bordertop {
    border-top: 1.5px solid #c4661f;
    padding-top: 40px;
}

#aboutme ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 680px;
    min-width: 450px;
    gap: 20px;
}
#aboutme ul li {
   line-height: 1.4;
   font-size: 1.1rem;
   font-weight: 400;
   border: #c4661f 4px solid;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   box-shadow: 4px 4px #5f6f52;
   background-color: #fff;
}
#aboutme span {
    font-size: 1.3rem;
    font-weight: bold;
    color: #c4661f;
}
#aboutme ul li:last-child{
    border-radius: 50%;
    box-shadow: none;
    background-color: #606c38;
    border: #606c38;
}
#aboutme .skills {
    padding-bottom: 5%;
}

/*works*/
#works {
    padding: 4%;
    border-bottom: 5px solid #606c38;
}
#works .banar img {
    width: 20vw;
    border: 1px solid #5f6f52;
    box-shadow: 6px 6px #5f6f52;
}
#works .banar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
}
#works .banar .sakuhinn {
    margin-right: 5%;
}
#works .website img {
    width: 400px;
}

#works h4 {
    margin-bottom: 10px;
}

#works .banar {
    border-bottom: 1.5px solid #c4661f;
    padding-bottom: 40px;
}
#works .website a {
    color: #000;
    font-size: 0.95rem;
}

/*Ilike*/
#ilike {
    padding: 4%;
    background-image: url(../images/backgroundilike.jpeg);
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
}
#ilike p {
    font-size: 0.95rem;
    font-weight: 500;
}
/*footer*/
footer {
    background-color: #a9b388;
    padding: 10px;
}
footer a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #000;
}
footer ul {
    list-style-type: none;
}

/*
-------------------javascript--------------------------------------*/
/*
loading
==============================*/
#loading {
    background-color: #b99470;
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: grid;
    place-items: center;
}
#upgreen {
    background-color: #a9b388;
    position: fixed;
    inset: 0;
    z-index: 9998;
    translate: 0 100vh;
}


/*スライドショー=============================*/
.allslide {
    width: 300px;
    position: relative;
    overflow: hidden;
}
#ilike img {
    width: 280px;
    height: auto;
    border: #606c38 4px solid;
    border-bottom: #606c38 solid 35px;
}
.next {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 15px;
    bottom: 25px;
    z-index: 10;
    cursor: pointer;
    border-top: solid 4px #fff;
    border-right: solid 4px #fff;
    -webkit-transform:rotate(45deg)translateY(50%);
    transform: rotate(45deg)translateY(50%);
}
.mae {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 25px;
    bottom: 25px;
    z-index: 10;
    cursor: pointer;
    border-top: solid 4px #fff;
    border-right: solid 4px #fff;
    -webkit-transform:rotate(-135deg)translateY(-50%);
    transform: rotate(-135deg)translateY(-50%);
}
.kuromaru {
    position: absolute;
    bottom: 2.5px;
    left: 82px;
    display: flex;
    column-gap: 10px;
    z-index: 10;
}
.kuromaru li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
}
.kuromaru li:first-of-type {
    background-color: #000;
}
.slide {
    width: 300%;
    display: flex;
    transition: all 0.3s;
}
.slide div {
    width: 33.33%;
    text-align: center;
}
.slide1 {
    transform: translateX(0);
}
.slide2 {
    transform: translateX(-33.33%);
}
.slide3 {
    transform: translateX(-66.66%);
}


@media (max-width:600px) {
    
    html{
        font-size: 80%;
    }
    body{
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
        background:linear-gradient(90deg, #fff 80%,#a9b388);
    }
    header {
        padding-top: 5px;
        padding-bottom: 0;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        margin-right: 40px;
    }
    #mainpage .bgimage{
        justify-content: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #mainpage h1{
        font-size: 4rem;
    }
    
    #mainpage h1:last-child {
        font-size: 5.5rem;
    }
    #aboutme img {
        width: 80vw;
        margin-right: 3%;
        margin-bottom: 30px;
    }
    #aboutme .tatewari {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    #aboutme .greenbox {
        background-color: #a9b388;
        box-shadow: 8px 8px;
        padding: 3%;
        width: 70vw;
    }
    #aboutme .bordertop {
        border-top: 1.5px solid #c4661f;
        padding-top: 40px;
    }
    #aboutme ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 30vw 30vw;
        gap: 20px;
    }
    #aboutme span {
        font-size: 1.3rem;
        font-weight: bold;
        color: #c4661f;
    }
    #aboutme .skills {
        padding-bottom: 5%;
    }
    #works {
        padding: 4%;
        border-bottom: 5px solid #606c38;
    }
    #works .banar img {
        box-shadow: 6px 6px #5f6f52;
        width: 35vw;   
    }
    #works .banar {
        display: grid;
        grid-template-columns: 45vw 45vw;
        margin-bottom: 50px;
    }
    #works .website img {
        width: 80vw;
    }
    #works h4 {
        margin-bottom: 10px;
    }
    #works .banar {
        border-bottom: 1.5px solid #c4661f;
        padding-bottom: 40px;
    }
}
    

